.buttonContainer {
    border-radius: 5px;
    height: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.fontButton {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
}

button {
    grid-row: 1;
    width: 50%;
    height: 50%;
    background: mediumturquoise;
    border-radius: 5px;
}
