.displayContainer {
    border: 3px solid mediumturquoise;
    border-radius: 5px;
    height: 150px;

    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.redText {
    font-size: 50px;
    color: red;
}

.dispText {
    color: mediumturquoise;
}

