.counterContainer {
    border: 3px solid mediumturquoise;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    height: 70%;

    display: grid;
    align-content: space-between;

    grid-area: a;
    align-self: center;
    justify-self: center;
}
